@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline-style: none; */
}
ul {
  list-style: none;
}
img {
  vertical-align: middle;
  border: 0;
}
a {
  text-decoration: none;
  color: #000;
}
html {
  font-size: 16px;
}
body {
  font-family: "Noto Sans KR", "NotoSansCJKsc", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333;
  letter-spacing: -0.35px;
  word-break: keep-all;
}
.wrap {
  position: relative;
  display: block;
}
/* 공통요소 */
.container {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}
