.header {
  position: relative;
  background: #0d3f7a;
  z-index: 99999999;
}
.header .container {
  height: 130px;
}
.header-fix {
  position: fixed !important;
  left: 0 !important;
  /* banner 의 높이이므로  */
  top: 90px !important;
  width: 100% !important;
}

/* 상단 메뉴 스크롤시 고정 테스트 */
body {
  height: 5000px;
}
