.newsroom {
}
.newsroom .container {
  padding: 35px 0;
  padding-bottom: 135px;
}
.newsroom-wrap {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.newsroom-box {
  display: block;
  height: 450px;
  overflow: hidden;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);

  border: 10px solid transparent;
}
.newsroom-box:hover {
  border: 10px solid red;
}
.newsroom-img {
  height: 330px;
  overflow: hidden;
}
.newsroom-img img {
  width: 100%;
  object-fit: cover;
}

.newsroom-info {
}
